In [131]:
import pandas as pd
import numpy as np

In [132]:
df = pd.read_csv('world-happiness-report-2005-2018.csv', sep=';')

In [133]:
df.head(30)

,Country name,Year,Life Ladder,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption,Positive affect,...,GINI index (World Bank estimate),"GINI index (World Bank estimate), average 2000-16","gini of household income reported in Gallup, by wp5-year","Most people can be trusted, Gallup","Most people can be trusted, WVS round 1981-1984","Most people can be trusted, WVS round 1989-1993","Most people can be trusted, WVS round 1994-1998","Most people can be trusted, WVS round 1999-2004","Most people can be trusted, WVS round 2005-2009","Most people can be trusted, WVS round 2010-2014"
0,Afghanistan,2008,3.723590,7.168690,0.450662,50.799999,0.718114,0.177889,0.881686,0.517637,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,2009,4.401778,7.333790,0.552308,51.200001,0.678896,0.200178,0.850035,0.583926,...,NaN,NaN,0.441906,0.286315,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,2010,4.758381,7.386629,0.539075,51.599998,0.600127,0.134353,0.706766,0.618265,...,NaN,NaN,0.327318,0.275833,NaN,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,2011,3.831719,7.415019,0.521104,51.919998,0.495901,0.172137,0.731109,0.611387,...,NaN,NaN,0.336764,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,2012,3.782938,7.517126,0.520637,52.240002,0.530935,0.244273,0.775620,0.710385,...,NaN,NaN,0.344540,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Afghanistan,2013,3.572100,7.522238,0.483552,52.560001,0.577955,0.070403,0.823204,0.620585,...,NaN,NaN,0.304368,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Afghanistan,2014,3.130896,7.516955,0.525568,52.880001,0.508514,0.113184,0.871242,0.531691,...,NaN,NaN,0.413974,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Afghanistan,2015,3.982855,7.500539,0.528597,53.200001,0.388928,0.089091,0.880638,0.553553,...,NaN,NaN,0.596918,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Afghanistan,2016,4.220169,7.497038,0.559072,53.000000,0.522566,0.051365,0.793246,0.564953,...,NaN,NaN,0.418629,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Afghanistan,2017,2.661718,7.497755,0.490880,52.799999,0.427011,-0.112198,0.954393,0.496349,...,NaN,NaN,0.286599,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Afghanistan,2018,2.694303,7.494588,0.507516,52.599998,0.373536,-0.084888,0.927606,0.424125,...,NaN,NaN,0.290681,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Albania,2007,4.634252,9.077331,0.821372,65.800003,0.528605,-0.014393,0.874700,0.552678,...,NaN,0.30325,NaN,NaN,NaN,NaN,0.243243,0.232000,NaN,NaN
12,Albania,2009,5.485470,9.161638,0.833047,66.199997,0.525223,-0.160855,0.863665,0.640024,...,NaN,0.30325,0.617361,0.111004,NaN,NaN,0.243243,0.232000,NaN,NaN
13,Albania,2010,5.268937,9.203032,0.733152,66.400002,0.568958,-0.175367,0.726262,0.647908,...,NaN,0.30325,0.543528,0.201118,NaN,NaN,0.243243,0.232000,NaN,NaN
14,Albania,2011,5.867422,9.230904,0.759434,66.680000,0.487496,-0.207943,0.877003,0.627659,...,NaN,0.30325,0.407266,0.066618,NaN,NaN,0.243243,0.232000,NaN,NaN
15,Albania,2012,5.510124,9.246655,0.784502,66.959999,0.601512,-0.172262,0.847675,0.606636,...,0.290,0.30325,0.568153,NaN,NaN,NaN,0.243243,0.232000,NaN,NaN
16,Albania,2013,4.550648,9.258445,0.759477,67.239998,0.631830,-0.130645,0.862905,0.633609,...,NaN,0.30325,0.633796,NaN,NaN,NaN,0.243243,0.232000,NaN,NaN
17,Albania,2014,4.813763,9.278104,0.625587,67.519997,0.734648,-0.028162,0.882704,0.684911,...,NaN,0.30325,0.417219,NaN,NaN,NaN,0.243243,0.232000,NaN,NaN
18,Albania,2015,4.606651,9.302960,0.639356,67.800003,0.703851,-0.084411,0.884793,0.688370,...,NaN,0.30325,0.422627,NaN,NaN,NaN,0.243243,0.232000,NaN,NaN
19,Albania,2016,4.511101,9.337532,0.638411,68.099998,0.729819,-0.020687,0.901071,0.675244,...,NaN,0.30325,0.416540,NaN,NaN,NaN,0.243243,0.232000,NaN,NaN
20,Albania,2017,4.639548,9.376145,0.637698,68.400002,0.749611,-0.032643,0.876135,0.669241,...,NaN,0.30325,0.410488,NaN,NaN,NaN,0.243243,0.232000,NaN,NaN
21,Albania,2018,5.004403,9.412399,0.683592,68.699997,0.824212,0.005385,0.899129,0.713300,...,NaN,0.30325,0.456174,NaN,NaN,NaN,0.243243,0.232000,NaN,NaN
22,Algeria,2010,5.463567,9.462701,NaN,64.500000,0.592696,-0.229078,0.618038,NaN,...,NaN,0.27600,0.492713,NaN,NaN,NaN,NaN,0.107644,NaN,0.179286
23,Algeria,2011,5.317194,9.471962,0.810234,64.660004,0.529561,-0.204406,0.637982,0.550203,...,0.276,0.27600,0.426202,NaN,NaN,NaN,NaN,0.107644,NaN,0.179286
24,Algeria,2012,5.604596,9.485086,0.839397,64.820000,0.586663,-0.195859,0.690116,0.604023,...,NaN,0.27600,0.421409,NaN,NaN,NaN,NaN,0.107644,NaN,0.179286
25,Algeria,2014,6.354898,9.509210,0.818189,65.139999,NaN,NaN,NaN,0.625905,...,NaN,0.27600,0.475492,NaN,NaN,NaN,NaN,0.107644,NaN,0.179286
26,Algeria,2016,5.340854,9.541166,0.748588,65.500000,NaN,NaN,NaN,0.660510,...,NaN,0.27600,0.604617,NaN,NaN,NaN,NaN,0.107644,NaN,0.179286
27,Algeria,2017,5.248912,9.540639,0.806754,65.699997,0.436670,-0.191522,0.699774,0.641980,...,NaN,0.27600,0.527556,NaN,NaN,NaN,NaN,0.107644,NaN,0.179286
28,Algeria,2018,5.043086,9.557952,0.798651,65.900002,0.583381,-0.172413,0.758704,0.591043,...,NaN,0.27600,0.667872,NaN,NaN,NaN,NaN,0.107644,NaN,0.179286
29,Angola,2011,5.589001,8.684613,0.723094,52.500000,0.583702,0.065088,0.911320,0.658647,...,NaN,0.47350,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [134]:
df.isnull().mean()

Country name                                                0.000000
Year                                                        0.000000
Life Ladder                                                 0.000000
Log GDP per capita                                          0.016432
Social support                                              0.007629
Healthy life expectancy at birth                            0.016432
Freedom to make life choices                                0.017019
Generosity                                                  0.048122
Perceptions of corruption                                   0.056338
Positive affect                                             0.011150
Negative affect                                             0.007629
Confidence in national government                           0.102113
Democratic Quality                                          0.085681
Delivery Quality                                            0.085094
Standard deviation of ladder by country-year                0.000000
Standard deviation/Mean of ladder by country-year           0.000000
GINI index (World Bank estimate)                            0.622653
GINI index (World Bank estimate), average 2000-16           0.118545
gini of household income reported in Gallup, by wp5-year    0.216549
Most people can be trusted, Gallup                          0.894366
Most people can be trusted, WVS round 1981-1984             0.926643
Most people can be trusted, WVS round 1989-1993             0.870892
Most people can be trusted, WVS round 1994-1998             0.637324
Most people can be trusted, WVS round 1999-2004             0.711854
Most people can be trusted, WVS round 2005-2009             0.630282
Most people can be trusted, WVS round 2010-2014             0.606221
dtype: float64

In [4]:
df = df[df['Year'] <= 2016]

In [5]:
Most = [var for var in df if 'Most' in var]
Most

['Most people can be trusted, Gallup',
 'Most people can be trusted, WVS round 1981-1984',
 'Most people can be trusted, WVS round 1989-1993',
 'Most people can be trusted, WVS round 1994-1998',
 'Most people can be trusted, WVS round 1999-2004',
 'Most people can be trusted, WVS round 2005-2009',
 'Most people can be trusted, WVS round 2010-2014']

In [6]:
df = df.drop(Most, axis=1)

In [7]:
Gini = [var for var in df if 'GINI' in var]
Gini

['GINI index (World Bank estimate)',
 'GINI index (World Bank estimate), average 2000-16']

In [8]:
df = df.drop(Gini, axis=1)

In [9]:
gini = [var for var in df if 'gini' in var]
gini

['gini of household income reported in Gallup, by wp5-year']

In [10]:
df = df.drop(gini, axis=1)

In [11]:
df.columns

Index(['Country name', 'Year', 'Life Ladder', 'Log GDP per capita',
       'Social support', 'Healthy life expectancy at birth',
       'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption', 'Positive affect', 'Negative affect',
       'Confidence in national government', 'Democratic Quality',
       'Delivery Quality', 'Standard deviation of ladder by country-year',
       'Standard deviation/Mean of ladder by country-year'],
      dtype='object')

In [12]:
df = df.rename(columns = {'Life Ladder':'Happy_index'})

In [13]:
df

,Country name,Year,Happy_index,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption,Positive affect,Negative affect,Confidence in national government,Democratic Quality,Delivery Quality,Standard deviation of ladder by country-year,Standard deviation/Mean of ladder by country-year
0,Afghanistan,2008,3.723590,7.168690,0.450662,50.799999,0.718114,0.177889,0.881686,0.517637,0.258195,0.612072,-1.929690,-1.655084,1.774662,0.476600
1,Afghanistan,2009,4.401778,7.333790,0.552308,51.200001,0.678896,0.200178,0.850035,0.583926,0.237092,0.611545,-2.044093,-1.635025,1.722688,0.391362
2,Afghanistan,2010,4.758381,7.386629,0.539075,51.599998,0.600127,0.134353,0.706766,0.618265,0.275324,0.299357,-1.991810,-1.617176,1.878622,0.394803
3,Afghanistan,2011,3.831719,7.415019,0.521104,51.919998,0.495901,0.172137,0.731109,0.611387,0.267175,0.307386,-1.919018,-1.616221,1.785360,0.465942
4,Afghanistan,2012,3.782938,7.517126,0.520637,52.240002,0.530935,0.244273,0.775620,0.710385,0.267919,0.435440,-1.842996,-1.404078,1.798283,0.475367
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1697,Zimbabwe,2012,4.955101,7.534424,0.896476,49.540001,0.469531,-0.075712,0.858691,0.669279,0.177311,0.407084,-1.125315,-1.555728,1.853195,0.373997
1698,Zimbabwe,2013,4.690188,7.565154,0.799274,50.959999,0.575884,-0.079458,0.830937,0.711885,0.182288,0.527755,-1.026085,-1.526321,1.964805,0.418918
1699,Zimbabwe,2014,4.184451,7.562753,0.765839,52.380001,0.642034,-0.048634,0.820217,0.725214,0.239111,0.566209,-0.985267,-1.484067,2.079248,0.496899
1700,Zimbabwe,2015,3.703191,7.556052,0.735800,53.799999,0.667193,-0.097354,0.810457,0.715079,0.178861,0.590012,-0.893078,-1.357514,2.198865,0.593776
1701,Zimbabwe,2016,3.735400,7.538829,0.768425,54.400002,0.732971,-0.068105,0.723612,0.737636,0.208555,0.699344,-0.900649,-1.374650,2.776363,0.743257

In [14]:
df1 = pd.read_csv('IHME-GBD_2017_DATA-f57da2bf-1.csv')

In [15]:
df1 = df1.rename(columns = {'location_name':'Country name'})

In [16]:
df1 = df1.sort_values(by = ['Country name', 'year'])

In [17]:
df1 = df1.drop('measure_id', axis=1)
df1 = df1.drop('sex_id', axis=1)
df1 = df1.drop('age_id', axis=1)
df1 = df1.drop('metric_id', axis=1)

In [18]:
df1

,measure_name,location_id,Country name,sex_name,age_name,cause_id,cause_name,metric_name,year,val,upper,lower
517,Deaths,160,Afghanistan,Both,All Ages,718,Self-harm,Rate,2005,6.008133,9.447315,4.613968
1139,Deaths,160,Afghanistan,Both,All Ages,718,Self-harm,Rate,2006,5.924669,9.415016,4.526256
1893,Deaths,160,Afghanistan,Both,All Ages,718,Self-harm,Rate,2007,5.837530,9.292172,4.465918
123,Deaths,160,Afghanistan,Both,All Ages,718,Self-harm,Rate,2008,5.733769,9.293433,4.377371
757,Deaths,160,Afghanistan,Both,All Ages,718,Self-harm,Rate,2009,5.630672,9.222163,4.278532
...,...,...,...,...,...,...,...,...,...,...,...,...
1002,Deaths,198,Zimbabwe,Both,All Ages,718,Self-harm,Rate,2012,19.322124,23.090243,15.513093
1526,Deaths,198,Zimbabwe,Both,All Ages,718,Self-harm,Rate,2013,18.750438,22.330251,15.332541
2272,Deaths,198,Zimbabwe,Both,All Ages,718,Self-harm,Rate,2014,18.357755,21.811936,15.097924
433,Deaths,198,Zimbabwe,Both,All Ages,718,Self-harm,Rate,2015,18.222157,21.685420,14.923782
1439,Deaths,198,Zimbabwe,Both,All Ages,718,Self-harm,Rate,2016,18.135816,21.527506,14.801482

In [19]:
len(df)

1421

In [20]:
len(df1)

2340

In [103]:
df3 = pd.read_csv('UNdata_Export_20200222_205914330.csv')
df3.head(10)

,Country or Area,Year,Area,Sex,Age,Literacy,Record Type,Reliability,Source Year,Value,Value Footnotes
0,Albania,2011,Total,Both Sexes,10 - 14,Total,Census - de jure - complete tabulation,"Final figure, complete",2013.0,233376.0,NaN
1,Albania,2011,Total,Both Sexes,10 - 14,Literate,Census - de jure - complete tabulation,"Final figure, complete",2013.0,231653.0,NaN
2,Albania,2011,Total,Both Sexes,10 - 14,Illiterate,Census - de jure - complete tabulation,"Final figure, complete",2013.0,1723.0,NaN
3,Albania,2011,Total,Both Sexes,10 +,Total,Census - de jure - complete tabulation,"Final figure, complete",2013.0,2454948.0,NaN
4,Albania,2011,Total,Both Sexes,10 +,Literate,Census - de jure - complete tabulation,"Final figure, complete",2013.0,2387409.0,NaN
5,Albania,2011,Total,Both Sexes,10 +,Illiterate,Census - de jure - complete tabulation,"Final figure, complete",2013.0,67539.0,NaN
6,Albania,2011,Total,Both Sexes,15 - 19,Total,Census - de jure - complete tabulation,"Final figure, complete",2013.0,268746.0,NaN
7,Albania,2011,Total,Both Sexes,15 - 19,Literate,Census - de jure - complete tabulation,"Final figure, complete",2013.0,266391.0,NaN
8,Albania,2011,Total,Both Sexes,15 - 19,Illiterate,Census - de jure - complete tabulation,"Final figure, complete",2013.0,2355.0,NaN
9,Albania,2011,Total,Both Sexes,20 - 24,Total,Census - de jure - complete tabulation,"Final figure, complete",2013.0,243645.0,NaN

In [104]:
#df3 = df3.dropna()

In [105]:
df3 = df3.drop('Area', axis=1)
df3 = df3.drop('Sex', axis=1)
df3 = df3.drop('Record Type', axis=1)
df3 = df3.drop('Reliability', axis=1)
df3 = df3.drop('Source Year', axis=1)
df3 = df3.drop('Value Footnotes', axis = 1)

In [112]:
df3.head(10)

  Country or Area  Year      Age    Literacy      Value
0         Albania  2011  10 - 14       Total   233376.0
1         Albania  2011  10 - 14    Literate   231653.0
2         Albania  2011  10 - 14  Illiterate     1723.0
3         Albania  2011     10 +       Total  2454948.0
4         Albania  2011     10 +    Literate  2387409.0
5         Albania  2011     10 +  Illiterate    67539.0
6         Albania  2011  15 - 19       Total   268746.0
7         Albania  2011  15 - 19    Literate   266391.0
8         Albania  2011  15 - 19  Illiterate     2355.0
9         Albania  2011  20 - 24       Total   243645.0

In [125]:
Total = df3.loc[(df3.Literacy == 'Total')&df3['Age'] == '10 +', ['Country or Area', 'Year', 'Value', 'Literacy']]

In [124]:
Lit = df3.loc[(df3.Literacy == 'Literate')&df3['Age'] == '10 +', ['Country or Area', 'Year', 'Value', 'Literacy']]

# Feature Selection